services:
    db:
        image: postgres:18.1-alpine3.23
        ports:
            - '5432:5432'
        environment:
            POSTGRES_USER: ${POSTGRES_USER:-app}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-app}
            POSTGRES_DB: ${POSTGRES_DB:-app_db}
        volumes:
            - pgdata:/var/lib/postgresql/data
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}']
            interval: 5s
            timeout: 5s
            retries: 10
        restart: unless-stopped

volumes:
    pgdata:
